# http://httpd.apache.org/docs/current/mod/core.html#errordocument
ErrorDocument 404 /404.php
# ErrorDocument 404 "This is a Anax 404. Document is not here."


<filesMatch "\.(html|htm|js|css)$">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</filesMatch>